# Ignorer les fichiers de sauvegarde


# Ignorer les fichiers de configuration
config.ini

# Ignorer les fichiers de compilation
*.class
*.o

# Ignorer les fichiers de dépendances
node_modules/
vendor/

# Ignorer les fichiers de logs
logs/

#Ignore the stored environment variables file
.env
credentials.json

#Ignore the virtual environment created for test
venv/
